/* 
палитра:
rgb(85 127 234)
rgb(133 206 236)
rgb(90 184 234)
rgb(193 200 228)
rgb(137 96 208) 
*/

*{
    box-sizing: border-box;
}

.answer-img {
    max-width: 100%;
    height: auto;
}

.answer-img {
    max-width: 100%;
    height: auto;
}

.question-img{
    max-width: 50%;
}

.answer-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    background-color: rgb(133 206 236);
    gap: 10px;
}

#questions-container{
    padding: 2% 3%;
}

.top-section{
    width: 100%;
    background-color: rgb(85 127 234);
    text-align: center;
    padding: 5% 0;
}

.top-section p{
    font-size: 20px;
}

.top-section h1{
    margin-bottom: 50px;
}

.content{
    background-color: rgb(90 184 234);
    margin: 1% 18%;
}

.answer-div{
    margin-bottom: 2%;
}

.answer-a{
    font-size: 25px;
}

body{
    background: hsla(223, 78%, 63%, 1);
    background: linear-gradient(135deg, hsla(223, 78%, 63%, 1) 0%, hsla(197, 73%, 72%, 1) 55%, hsla(228, 39%, 83%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(223, 78%, 63%, 1) 0%, hsla(197, 73%, 72%, 1) 55%, hsla(228, 39%, 83%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(223, 78%, 63%, 1) 0%, hsla(197, 73%, 72%, 1) 55%, hsla(228, 39%, 83%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#557FEA", endColorstr="#85CEEC", GradientType=1 );
    font-size: 18px;
    color: rgb(99, 66, 155);
}

.answer-a{
    margin-left: 0.7%;
}

.p-top{
    font-size: 30px !important;
}

#submit-button{
    text-align: center;
}

#submit-button button{
    width: 94%;
    margin-bottom: 5%;
    height: 50px;
    border: none;
    background-color: rgb(137 96 208); 
    font-size: 25px;
}

#submit-button button:hover{
    background-color: rgb(170, 130, 238); 
}

.restart-button{
    width: 50%;
    height: 50px;
    border: none;
    background-color: rgb(137 96 208); 
    font-size: 25px;
}

.restart-button:hover{
    background-color: rgb(170, 130, 238); 
}

@media(max-width: 1050px){
    .content{
        width: 100%;
        margin: 0;
    }
}

@media(max-width: 425px){
    .content{
        width: 100%;
        margin: 0;
    }
    .answer-div{
        margin-bottom: 22px;
    }
    .question-img{
        max-width: 100%;
    }
    body{
        font-size: 15px;
    }
}